<header>
    <a href="/">
        <img class="rounded-img" src="assets/img/logo.jpg" alt="logo" width="256px" style="border-radius: 50%;">
    </a>
    <h1>George Papadopoulos</h1>
    <h2>Software Engineer</h2>
</header>
<main>
    <div class="container">
        <div class="flex-left">
            <h3>About me</h3>
            <p>
                <!-- I have a BSc in Computer Science from Athens University of Economics and Business.<br>
                Currently at my MSc on Distributed Systems, Security and Emerging Information Technologies at University of Piraeus.<br><br> -->
                I love developing software that automates boring stuff and make everyday life just a little bit easier.<br>
                I am passionate about learning and trying new and emerging technologies.
            </p>
        </div>
        <div class="flex-right">
            <h3>Where to find me</h3>
            <p class="contact-item">
                <a href="https://www.linkedin.com/in/george-papadopoulos-3a9072154/" target="_blank">
                    <fa-icon [icon]="faLinkedIn"></fa-icon>
                    LinkedIn
                </a>
            </p>
            <p class="contact-item">
                <a href="https://github.com/cgeopapa" target="_blank">
                    <fa-icon [icon]="faGitHub"></fa-icon>
                    GitHub
                </a>
            </p>
            <p class="contact-item">
                <a href="mailto:cgeopapa@gmail.com" target="_self">
                    <fa-icon [icon]="faMail"></fa-icon>
                    Email
                </a>
            </p>
        </div>
    </div>
    <div id="skills">
        <h3>Skill Set</h3>
        <div class="container">
            <div>
                <i class="devicon-java-plain"></i>
                <h4>Java</h4>
            </div>
            <div>
                <i class="devicon-python-plain"></i>
                <h4>Python</h4>
            </div>
            <div>
                <i class="devicon-javascript-plain"></i>
                <h4>Javascript</h4>
            </div>
            <div>
                <i class="devicon-nodejs-plain"></i>
                <h4>NodeJS</h4>
            </div>
            <div>
                <i class="devicon-typescript-plain"></i>
                <h4>Typescript</h4>
            </div>
            <div>
                <i class="devicon-angularjs-plain"></i>
                <h4>Angular</h4>
            </div>
            <div>
                <i class="devicon-git-plain"></i>
                <h4>Git</h4>
            </div>
        </div>
    </div>
    <div id="projects" class="container">
        <app-projects-tabs></app-projects-tabs>
    </div>
</main>