---
import Main from "../layouts/main.astro";
import ProjectsTable from "../components/projects-table/projects-table.svelte"
---

<Main title="George Papadopoulos">
    <header class="bg-neutral-800 text-center p-4">
        <a class="no-underline m-auto w-fit block" href="/">
            <img class="rounded-full" src="img/logo.webp" alt="logo" height="256px" width="256px">
        </a>
        <h1 class="text-5xl tracking-wide my-1">George Papadopoulos</h1>
        <h2 class="text-2xl tracking-wide italic my-2 text-neutral-400">Software Engineer</h2>
    </header>
    <main class="py-5 px-10 bg-neutral-700">
        <div class="flex flex-col sm:flex-row sm:m-auto sm:w-4/5 sm:justify-center">
            <section class="p-5 border-b-accent border-b-2 sm:border-0 sm:w-1/2">
                <h3 class="text-4xl tracking-wide text-center p-5">About me</h3>
                <p class="text-center sm:text-right text-lg text-neutral-200 font-sans">
                    I'm a software engineer with a deep passion for developing innovative solutions and continuously exploring new technologies and frameworks. With a strong attention to detail and a commitment to delivering high-quality software, I excel in collaborative environments, leveraging diverse perspectives to drive creativity and achieve impactful results. Continuously staying up-to-date with industry trends, I embrace the ever-evolving nature of software engineering. My dedication to learning and honing my skills enables me to make a positive impact and contribute meaningfully to projects. Let's connect and create remarkable software solutions.                </p>
            </section>
            <div class="w-1 bg-neutral-400 hidden sm:block"></div>
            <section class="p-5 border-b-accent border-b-2 sm:border-0 sm:w-1/2">
                <h3 class="text-4xl p-5 text-center">Where to find me</h3>
                <ul class="text-center sm:text-left">
                    <li class="m-5 text-2xl tracking-wider">
                        <a href="https://www.linkedin.com/in/george-papadopoulos-3a9072154/" target="_blank">
                            <i class="devicon-linkedin-plain"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li class="m-5 text-2xl tracking-wider">
                        <a href="https://github.com/cgeopapa" target="_blank">
                            <i class="devicon-github-original"></i>
                            GitHub
                        </a>
                    </li>
                    <li class="m-5 text-2xl tracking-wider">
                        <a href="https://gitlab.com/cgeopapa" target="_blank">
                            <i class="devicon-gitlab-plain"></i>
                            GitLab
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <section>
            <h3 class="text-center text-4xl p-14">Skill Set</h3>
            <div class="grid grid-cols-auto gap-1 max-w-3xl m-auto">
                <div class="flex justify-center flex-col">
                    <i class="devicon-java-plain text-6xl text-center"></i>
                    <h4 class="text-center">Java</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-python-plain text-6xl text-center"></i>
                    <h4 class="text-center">Python</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-javascript-plain text-6xl text-center"></i>
                    <h4 class="text-center">Javascript</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-nodejs-plain text-6xl text-center"></i>
                    <h4 class="text-center">NodeJS</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-typescript-plain text-6xl text-center"></i>
                    <h4 class="text-center">Typescript</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-angularjs-plain text-6xl text-center"></i>
                    <h4 class="text-center">Angular</h4>
                </div>
                <div class="flex justify-center flex-col">
                    <i class="devicon-git-plain text-6xl text-center"></i>
                    <h4 class="text-center">Git</h4>
                </div>
            </div>
        </section>
        <section>
            <h3 class="text-center text-4xl p-14">Projects</h3>
            <ProjectsTable client:visible/>
        </section>
    </main>
</Main>
