---
import Main from "../layouts/main.astro";
import LiveProjects from "../components/live-projects/live-projects.component.astro";
import liveProjects from '../../public/live-projects.json';

const active = liveProjects.filter((project) => !project.depricated);
const depricated = liveProjects.filter((project) => project.depricated);
---

<Main title="George Papadopoulos - Live Projects">
    <header class="bg-neutral-800 text-center p-4">
        <a class="no-underline m-auto w-fit block" href="/">
            <img class="rounded-full" src="/img/logo.webp" alt="logo" width="128px">
        </a>
        <h1 class="text-4xl tracking-wide my-1">Live Projects</h1>
        <h2 class="text-lg tracking-wide italic my-2 text-neutral-400">Here is a list of projects you can run on your browser. Click on the link and check them out</h2>
    </header>
    <main class="bg-neutral-700">
        <LiveProjects projects={active}/>
        <section class="mt-32">
            <h4 class="text-4xl m-8 text-center">Depricated Projects</h4>
            <p class="text-neutral-200 text-center px-4 mb-8 sm:px-52">
                Due to <a href="https://blog.heroku.com/next-chapter" class="underline">
                    Heroku's new policy removing the free tier hosting</a>, the 
                following projects are no longer active. As a tribute to those projects since they 
                once were active I keep them here under the depricated section, keeping their former URLs.
                Of course clicking on them will only bring Heroku's error page.
            </p>
            <LiveProjects projects={depricated}/>
        </section>
    </main>
    
</Main>