---

---

<nav class="bg-neutral-700 flex justify-between sticky top-0 p-2 sm:p-4">
    <div class="self-center">
        <a href="/" class="uppercase text-2xl tracking-wider">
            George Papadopoulos
        </a>
        <div id="navlinks" class="flex flex-col align-middle max-h-0 duration-300 overflow-hidden">
            <a class="text-xl p-2 px-6" href="#projects">Projects</a>
            <a class="text-xl p-2 px-6" href="/live-projects">Live Projects</a>
        </div>
    </div>
    <div>
        <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f8fafc" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg>
    </div>
</nav>
<script>
    import "./navbar"
</script>
