---
import Navbar from "../components/navbar/navbar.astro";
import '../global.css'
const { title } = Astro.props
---

<html lang="en" class="p-0 m-0 text-neutral-50 bg-neutral-900 font-ropa">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svelte-material-ui@7.0.0-beta.8/themes/svelte-dark.css"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body class="my-0 lg:mx-20 shadow-lg">
    <nav class="bg-neutral-700 flex justify-between sticky top-0 p-2 sm:p-4">
        <div class="self-center">
            <a href="/" class="uppercase text-2xl tracking-wider">
                George Papadopoulos
            </a>
            <div id="navlinks" class="sm:hidden flex flex-col align-middle max-h-0 duration-300 overflow-hidden">
                <a class="text-xl p-2 px-6" href="#projects">Projects</a>
                <a class="text-xl p-2 px-6" href="/live-projects">Live Projects</a>
            </div>
        </div>
        <div class="sm:hidden">
            <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f8fafc" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
            </svg>
        </div>
        <div class="hidden sm:visible sm:flex">
            <a class="text-xl p-2 px-6" href="#projects">Projects</a>
            <a class="text-xl p-2 px-6" href="/live-projects">Live Projects</a>
        </div>
    </nav>
    <slot />
    <footer class="bg-neutral-800 flex justify-between items-center p-4">
        <h4 class="text-lg">
            &copy; {new Date().getFullYear()} George Papadopoulos
        </h4>
        <ul>
            <li class="text-lg tracking-wider float-left m-1">
                <a class="hover:text-accent duration-300" href="https://www.linkedin.com/in/george-papadopoulos-3a9072154/" target="_blank">
                    <i class="devicon-linkedin-plain"></i>
                </a>
            </li>
            <li class="text-lg tracking-wider float-left m-1">
                <a class="hover:text-accent duration-300" href="https://github.com/cgeopapa" target="_blank">
                    <i class="devicon-github-original"></i>
                </a>
            </li>
            <li class="text-lg tracking-wider float-left m-1">
                <a class="hover:text-accent duration-300" href="https://gitlab.com/cgeopapa" target="_blank">
                    <i class="devicon-gitlab-plain"></i>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
<script>
    document.getElementById("hamburger")?.addEventListener('click', () => {
        // increase the max height (max-h-16) tailwind property if need to add more menu items
        document.getElementById('navlinks')?.classList.toggle('max-h-20');
    })
</script>
